{% extends "base.html" %}

{% block title %}Random Words - Login{% endblock %}
{% block content %}

<div class="container">

<br>
 

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item active">Login</li>
</ol>

<br>

<center>

  {% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}

  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title"><h3>Login</h3></h5>
      Effettua il login per commentare, mettere mi piace e renderti visibile all'interno della community!
      <br>
      <br>
      <form action="" method="post">
        {% csrf_token %}
        <input type="email" class="form-control" id="email" name="email"  placeholder="Email">
        <br>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <br>
        <a class="text-muted">Non sei registrato? <a href="/login/registrati">Crea un Account</a></a>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Invia</button>
      </form>
    </div>
  </div>


</center>

<br>
<br>
<br>  


</div>



{% endblock %}
