{% extends "base.html" %}

{% block title %}Random Words - Login{% endblock %}
{% block content %}

<div class="container">

<br>
 

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/login">Login</a>
  </li>
  <li class="breadcrumb-item active">Recupero Password</li>
</ol>

<br>

<center>

  {% if messages %}
  {% for msg in messages %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}

  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title"><h3>Recupero Password</h3></h5>
      {% if done %}
      Inserisci la tua mail per procedere
      <br>
      <br>
      <br>
      <form action="" method="post">
        {% csrf_token %}
        <input type="email" class="form-control" id="email" name="email"  placeholder="Email">
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Invia</button>
      </form>
      {% else %}
      <br><br>E' stata inviata una email al tuo indirizzo<br><br>
      Segui le indicazioni in essa riportate per recuperare la password<br><br>
      {% endif %}
    </div>
  </div>
  <br>


</center>

<br>
<br>
<br>  


</div>



{% endblock %}
