{% extends "base.html" %}

{% block title %}Random Words - Contenuto{% endblock %}
{% block content %}

<div class="container">

<br>
 

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item active">Regole</li>
</ol>
<br>
<br>
<center>
<h2>Regole</h2>
</center>

<br>

<font size="+2">
<ul>
  <li>Puoi inviare non più di una frase ogni 30 minuti.</li><br>
  <li>Puoi commentare o mettere Mi Piace, solo se autenticato.</li><br>
  <li>Per Registrare un account, è necessario confermare la propria email<br>tramite un link che verrà inviata ad essa.</li><br>
  <li>Puoi inviare non più di un commento al minuto.</li><br>
</ul>
</font>
<hr>
<p><center>Queste Regole sono necessarie per garantire una gradevole permanenza a tutti gli utenti!</center></p>


<br>
<br>
<br>
<br>
<br>  


</div>



{% endblock %}
